
.banner{
    display: flex;
    justify-content: space-around;
    padding:50px;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial;
    text-align: center;
    color:rgb(50, 50, 50);

}

.l-icon img{
    
    display: flex;
    
}

.navbar{
    background-color: hsla(230, 80%, 12%,0.9);
    
}

.navbar-nav{
    font-size: 120%;
    display: flex;
    justify-content: space-between;
    
}


.card{
    display: inline-flex;
    flex-wrap: wrap;
    
}

.card img{
    max-width: 100%;
    padding: 5px;
}

.nav-link.active{
background-color: rgba(132, 132, 131, 0.2);

} 

a.nav-link{
    color:white;
}

.controles{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: hsla(232, 49%, 51%, 0.6);

}






.caja-form{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
.form-contact{
    width: 50%;
    height: 50%;
    margin: 30px;
    padding:20px;
    background-color: hsla(232, 49%, 51%, 0.6);
    border: solid;
    font-size:20px;
    
}


.events.row.container{
    display: container;
    align-self: center;
    background-color: hsla(232, 49%, 51%, 0.6);
    max-width: 100%;
    margin: auto;
    

}

footer{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px;
    background-color: hsla(232, 49%, 51%, 0.805);
    
}

.redes{
    display: flex;
    gap:10px;
}

.text{
   padding-right: 60px;
}

.stats-table{
    margin: 20px;
    padding: 20px;
}



table tr{
 
    border-color: black;
    text-align: center;
    font-weight: bold;
}

